.wrapper {
  width: 100%;
  height: 812px;
  background-image: url("../img/bgZukei.png");
  background-position: -262px -44px;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 80%;
  background-image: url("../img/kamibira.png");
  background-position: -10px 100px;
  padding-top: 80px;
  text-align: center;
}

.card__percentage {
  color: #260202;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.card__percentage:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/persentage_before.png");
  position: absolute;
  top: 20px;
  left: 100px;
}

.card__percentage:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/persentage_after.png");
  position: absolute;
  top: 20px;
  right: 100px;
}

.card__box {
  margin-top: 50px;
  position: relative;
}

.card__box__frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
}

.card__box__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.card__box__count {
  position: absolute;
  top: 345px;
  left: 0;
  right: 0;
  z-index: 100;
  color: #ffffff;
}

.Btn {
  text-align: center;
  margin-top: 10px;
}

.Btn__frame {
  display: inline-block;
  width: 266px;
  line-height: 66px;
  background-image: url("../img/btn.svg");
}

.Btn__frame button {
  display: inline-block;
  width: 266px;
  height: 66px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.Btn {
  text-align: center;
  margin-top: 10px;
}

.Btn__frame {
  display: inline-block;
  width: 266px;
  line-height: 66px;
  background-image: url("../img/btn.svg");
}

.Btn__frame a {
  display: inline-block;
  width: 266px;
  height: 66px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}
